.error{
	color:red !important;
}
input.error, textarea.error{
	border:1px solid red;
}
#container{
	width:900px;
	margin:0 auto;
}
#left{
	float:left;
	width:200px;
}
#content{
	width:700px;
	float:right;
}
#allVolunteers a{
	text-decoration:none;
	font-weight:bold;
	color:#000;
}
#allVolunteers a:hover{
	text-decoration:underline;
}

.czarnaLista, .czarnaLista a{
	background:#000;
	color:#fff !important;
}
.ppatrol, .ppatrol a{
	background:red;
	color:#000;
}
.sztab, .sztab a{
	background:yellow;
	color:#000;
}
.zaufany, .zaufany a{
	background:green;
	color:#fff !important;
}
.naFinale, .naFinale a{
	background:blue;
	color:#fff !important;
}
.legend{
	margin:0;
	padding:0;
	overflow:hidden;
	list-style:none;
	padding-bottom:10px;
}
p.legend{
	padding-bottom:0;
}

td p{
	padding:0;
}

.rank_info{
	text-align:center; 
	color:red;
}
.submit_td{
	text-align:center;
}

ul{
	list-style:none;
	padding:0; 
	margin:0;
}
input, textarea{
	width:400px;
}
li{ 
	overflow:hidden;
	padding:2px 0;
	zoom:1;
}
li input, li textarea{
	float:right;
}
li label, li p{
	float:left;
}
li p{
	clear:both;
	float:none;
}
fieldset {
	overflow:hidden;
}
.submit{
	float:right;
	width:auto;
}
#footer{
	float:none;
	width:100%;
	font-size:10px;
	padding-top:30px
}
#footer p{
	text-align:right;
}
#change_volunteer_data{
	float:right;
}
h3{overflow:hidden;}
h3 span{ float:left;}