	<form id="login" action="/index.php" method="post">
		<fieldset>
		<input type="hidden" name="action" value="login" />
		<legend> {if !$legend }Jeśli posiadasz już konto w systemie - zaloguj się:{else}{$legend}{/if}</legend>
		{$login_error}
		<ul>
			<li><label>login:</label><input type="text" value="" name="fields[username]" /></li>
			<li><label>hasło:</label><input type="password" value="" name="fields[password]" /></li>
		</ul>
		<input type="submit" class="submit"  name="wyślij" value="wyślij" />
		</fieldset>
	</form>