	<form id="register" action="/index.php" enctype="multipart/form-data" method="post">
		<fieldset>
		{assign var="values" value=$smarty.post.fields}
		{$register_error}
		<input type="hidden" name="action" value="register" />
		<legend> <b>Jeśli nie masz konta - zarejestruj się korzystają z formularza:</b></legend>
		<ul>
			<li {if $error_fields.name}class="error"{/if}><label>Imię:</label><input type="text" value="{$values.name}" name="fields[name]" /></li>
			<li {if $error_fields.surname}class="error"{/if}><label>Nazwisko:</label><input type="text" value="{$values.surname}" name="fields[surname]" /></li>
			<li {if $error_fields.email}class="error"{/if}><label>E-mail:</label><input type="text" value="{$values.email}" name="fields[email]" />
				{$email_unique_error}
			<p><strong>Prosimy o podawanie prawdziwych adresów e-mail. Po wypełnieniu formularza na ten adres zostanie wysłany e-mail z linkiem do aktywacji konta i również później będziemy korzystali z tego adresu do kontaktu z Tobą.</strong></p>
			</li>
			<li>
				<p><strong>Dodaj zdjęcie, które chcesz żeby było na identyfikatorze. Ma to być oczywiście zdjęcie twarzy, takie żeby można Cię było na nim rozpoznać. <br>
					Maksymalny rozmiar pliku ze zdjęciem: 2MB, format jpg. Zdjęcie będzie przeskalowane automatycznie, jednakże minimalne wymagane rozmiary zdjęcia to 800px na 800px. <br>
					<br /><span style="color:red;">PAMIĘTAJCIE, ŻE DOKŁADNIE TO ZDJĘCIE BĘDZIE NA IDENTYFIKATORZE, TYLKO W DUŻO MNIEJSZYM FORMACIE. ZDJĘCIA PRZESKALOWANE, Z DOŁOŻONĄ OGROMNĄ RAMKĄ CZY INNYM I TAKIMI EFEKTAMI MOGĄ SKUTKOWAĆ WYKLUCZENIEM Z PROCESU REKRUTACJI. Mamy po prostu za dużo tych zdjęć żeby je ręcznie przerabiać i do każdego z Was pisać że zdjęcie jest kiepskie.</span>
				 	<br>
					<br> Jeśli nie masz zdjęcia w formie elektronicznej, bez obaw, zdjęcie zrobimy podczas spotkania. 
					<br> Zdjęcie będzie można również załadować później, do {$photo_deadline} - w tym celu wystarczy się zalogować w systemie. 
				</strong></p>
				<label {if $error_fields.photo}class="error"{/if}>Zdjęcie:</label><input type="file" value="" name="fields[photo]" />
				{if $file_error}
					<p class="error"><strong>{$file_error }</strong></p>
				{/if}
			</li>
<li {if $error_fields.birth_date}class="error"{/if}><label>data urodzenia:</label><input type="text" value="{$values.birth_date}" class="jq_date" name="fields[birth_date]" /> (RRRR-MM-DD)
			<p><strong>Oświadczenie rodzica / opiekuna osoby niepełnoletniej można pobrać pod adresem: <a href="http://sew.wosp.wroc.pl/zgoda.pdf">http://sew.wosp.wroc.pl/zgoda.pdf</a></strong></p>
			</li>
			<li {if $error_fields.PESEL}class="error"{/if}><label>PESEL:</label><input type="text" value="{$values.PESEL}" name="fields[PESEL]" />
				{$PESEL_unique_error}
			</li>
			<li {if $error_fields.phone}class="error"{/if}><label>Nr telefonu:</label><input type="text" value="{$values.phone}" name="fields[phone]" />
				<p>Podaj numer telefonu pod którym jesteś osiągalny/osiągalna. Jeśli nie masz jeszcze 18 lat to w następnum polu wpisz numer do rodziców.</p>
			</li>
			<li {if $error_fields.p_phone}class="error"{/if}><label>Nr telefonu do rodziców:</label><input type="text" value="{$values.p_phone}" name="fields[p_phone]" /></li>
			<li {if $error_fields.doc_type}class="error"{/if}>
			<label>Typ dokumentu tożsamości</label>
				<select name="fields[doc_type]">
					<option {if $values.doc_type=="legitymacja szkolna"}selected="selected"{/if}>legitymacja szkolna</option>
					<option {if $values.doc_type=="legitymacja studencka"}selected="selected"{/if}>legitymacja studencka</option>
					<option {if $values.doc_type=="dowód osobisty"}selected="selected"{/if}>dowód osobisty</option>
					<option {if $values.doc_type=="paszport"}selected="selected"{/if}>paszport</option>
					<option {if $values.doc_type=="karta stałego pobytu"}selected="selected"{/if}>karta stałego pobytu</option>
					<option {if $values.doc_type=="prawo jazdy"}selected="selected"{/if}>prawo jazdy</option>
					<option {if $values.doc_type=="książeczka wojskowa"}selected="selected"{/if}>książeczka wojskowa</option>
					<option {if $values.doc_type=="inne"}selected="selected"{/if}>inne</option>
				</select>
				<p>Jeśli rodzaju dokumentu tożsamości nie ma na liście to w następnym polu oprócz numeru dokumentu podaj jego rodzaj.</p>
				<p>Pamiętaj też, by ten dokument zabrać na późniejsze spotkanie z nami.</p>
			</li>
			<li {if $error_fields.doc_id}class="error"{/if}><label>Numer dokumentu tożsamości:</label><input type="text" value="{$values.doc_id}" name="fields[doc_id]" />
			
			<li>
				<hr>
				<p><b>Adres zameldowania:</b></p>
				<p>Jest to adres wpisany w Twoim dokumencie tożsamości.</p>
				<ul>
					<li {if $error_fields.h_street}class="error"{/if}> <label>Ulica</label><input type="text" name="fields[h_street]" value="{$values.h_street}" /></li>
					<li {if $error_fields.h_building}class="error"{/if}> <label>Nr domu</label><input type="text" name="fields[h_building]" value="{$values.h_building}" /></li>
					<li {if $error_fields.h_loc}class="error"{/if}> <label>Nr mieszkania</label><input type="text" name="fields[h_loc]" value="{$values.h_loc}" /></li>
					<li {if $error_fields.h_city}class="error"{/if}><label>Miejscowość</label><input type="text" name="fields[h_city]" value="{$values.h_city}" /></li>
					<li {if $error_fields.h_zip}class="error"{/if}><label>Kod pocztowy</label><input type="text" name="fields[h_zip]" value="{$values.h_zip}" /></li>
				</ul>
				<hr>
			</li>
			<li>
				<p><b>Dane Szkoły/uczelni/zakładu pracy:</b></p>
				<ul>
					<li {if $error_fields.school_name}class="error"{/if}> <label>Nazwa</label><input type="text" name="fields[school_name]" value="{$values.school_name}" /></li>
					<li {if $error_fields.school_street}class="error"{/if}> <label>Ulica</label><input type="text" name="fields[school_street]" value="{$values.school_street}" /></li>
					<li {if $error_fields.school_building}class="error"{/if}> <label>Nr domu</label><input type="text" name="fields[school_building]" value="{$values.school_building}" /></li>
					<li {if $error_fields.school_loc}class="error"{/if}> <label>Nr mieszkania</label><input type="text" name="fields[school_loc]" value="{$values.school_loc}" /></li>
					<li {if $error_fields.school_city}class="error"{/if}><label>Miejscowość</label><input type="text" name="fields[school_city]" value="{$values.school_city}" /></li>
					<li {if $error_fields.school_zip}class="error"{/if}><label>Kod pocztowy</label><input type="text" name="fields[school_zip]" value="{$values.school_zip}" /></li>					
				</ul>
				<hr>
			</li>
			
			<li {if $error_fields.login}class="error"{/if}><label>login:</label><input type="text" value="{$values.login}" name="fields[login]" />
				{$login_unique_error}
			</li>
			<li {if $error_fields.password}class="error"{/if}>
			<p><b>Hasło musi mieć conajmniej 6 znaków i zawierać przynajmniej jedną cyfrę.</b></p>
			<label>hasło:</label><input type="password" value="" name="fields[password]" />
				{$pass_error}
			</li>
			<li {if $error_fields.password_repeat}class="error"{/if}><label>powtórz hasło:</label><input type="password" value="" name="fields[password_repeat]" /></li>
			{* dane osobowe/giodo *}
			{if $error_fields.consent_processing_of_personal_data or $error_fields.accept_of_sending_data_to_WOSP}
				<li class="error">
					<strong>Wyrażenie zgody na przetwarzanie danych osobowych jest niezbędne w celu kontynuowania procesu rejestracji. </strong>
				</li>
			{/if}
			<li {if $error_fields.consent_processing_of_personal_data} class="error" {/if}>
				<input type="checkbox" name="fields[consent_processing_of_personal_data]" checked="checked" />
				<label>Wyrażam zgodę na przetwarzanie podanych danych osobowych przez Stowarzyszenie Hobbystów Kolejowych z siedzibą w Warszawie przy ul. Orląt Lwowskich 38, stosownie do postanowień Ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (Dz. U. nr 133, poz. 883 ze zm.) w celu organizacji {$finalNr} Finału Wielkiej Orkiestry Świątecznej Pomocy we Wrocławiu. Oświadczam, że zostałem poinformowany, że podanie moich danych osobowych ma charakter dobrowolny oraz, że przysługuje mi prawo wglądu do nich, jak również możliwość ich poprawiania. Przyjmuję do wiadomości że wyrażenie niniejszej zgody jest wymagane w celu kontynuowania rejestracji.</label>
			</li>
			<li {if $error_fields.accept_of_sending_data_to_WOSP} class="error" {/if}>
				<input type="checkbox" name="fields[accept_of_sending_data_to_WOSP]" checked="checked" />
				<label>Wyrażam zgodę na przekazanie moich danych do fundacji Wielka Orkiestra Świątecznej Pomocy z siedzibą w Warszawie przy ul. Dominikańska 19c gdzie dane będą przetwarzane stosownie do postanowień Ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (Dz. U. nr 133, poz. 883 ze zm.) w celu organizacji Finału Wielkiej Orkiestry Świątecznej Pomocy. Przyjmuję do wiadomości że wyrażenie niniejszej zgody jest wymagane w celu kontynuowania rejestracji.</label>
			</li>
		</ul>
		<input type="submit" class="submit"  name="wyślij" value="wyślij" />
		</fieldset>
	</form>