<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$lang}" lang="{$lang}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<h3>Witaj {$user}</h3>
<p>Otrzymujesz tego maila ponieważ zarejestrowałeś się w Systemie Ewidencji Wolontariuszy
Wrocławskiego Sztabu Wielkiej Orkiestry Świątecznej Pomocy. Twoje konto w systemie jest na razie nieaktywne, by je
aktywować kliknij w poniższy link. Spowoduje to przejście do strony Systemu Ewidencji Wolontariuszy i umożliwi Ci 
dalszą rejestrację (między innnymi wybranie dnia i gdziny w których możesz się z nami spotkać).</p>

<p>
<strong>{$activation_link}</strong>
</p>
<p>Pozdrawiam</p>
<p>Administrator</p>
</body>
</html>