<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$lang}" lang="{$lang}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<h3>Witaj {$user->name} {$user->surname}</h3>

<p>
Otrzymałeś ten email jako potwierdzenie zarejestrowania się na spotkanie we Wrocławskim Sztabie WOŚP.<br />
Spotkanie odbędzie się w <b>Gimnazjum nr 17
im. ks. Jana Twardowskiego</b><br />
przy ulicy <b>ul. Ślężna 2/24</b>(koło dworca PKS)<br />
mapka: <a href="http://www.gim17wroc.pl/kontakt.html">http://www.gim17wroc.pl/kontakt.html</a>	
w dniu: <b>{$meeting->date}</b><br />
o godzinie: <b>{$meeting->time}</b><br />
</p>
<p>Jeśli z jakichś przyczyn nie możesz pojawić się na spotkaniu, nie przejmuj się - przyjdź po prostu w innym terminie, terminu spotkania w systemie zmieniać nie musisz.
Jednak żeby uniknąć tłoku prosimy o trzymanie się wybranych terminów rejestacji (w granicach rozsądku oczywiście ;-) ).
</p>

<p>Na rozmowę przynieś koniecznie <b>dokument tożsamości, np. dowód
osobisty lub legitymację (szkolną, studencką).</b> Papierowe zdjęcie nie
jest już wymagane</b></p>
<p>Jeżeli <b>nie masz 18 lat</b> musisz mieć <b>pisemną zgodę rodziców lub opiekunów.</b> </p>
<p>
Zadbaj o swoje bezpieczeństwo już teraz! Namów znajomych, by kwestowali z Tobą, dopilnuj, aby obok Ciebie były, co najmniej dwie osoby!
</p> 
<p><b>A jeżeli nie masz ukończonych 16 lat - musisz kwestować pod opieką osoby dorosłej.</b></p>

<p><strong>Oświadczenie rodzica / opiekuna osoby niepełnoletniej można pobrać pod adresem: <a href="{$site_root}/zgoda.pdf">{$site_root}/zgoda.pdf</a></strong>
<br>
(jeśli nie możesz otworzyć tego pliku potrzebujesz programu Adobe Reader, do pobrania <a href="http://get.adobe.com/pl/reader/" target="_blank">tutaj</a> (otwiera nowe okno))
</p>
<p>Do zobaczenia :-) </p>
<p>Sztab WOŚP Wrocław</p>
</body>
</html>