{include file="layout/header.html"}
<h3>Twój profil</h3>
<table border="0" summary="Dane wolontariusza {$user->name} {$user->surname}">
	<tr>
		<th>Zdjęcie:	</th>
		<td>{include file="box/photo.html" photo=$user->photo}</td>
	</tr>
	{if $smarty.now < $photo_deadline_timestamp}
		<tr>
			<td>&nbsp;</td>
			<td>
				<form id="register" action="/index.php" enctype="multipart/form-data" method="post">
					<p><strong>Dodaj zdjęcie, które chcesz żeby było na identyfikatorze. Ma to być oczywiście zdjęcie twarzy, takie żeby można Cię było na nim rozpoznać. <br>
						Maksymalny rozmiar pliku ze zdjęciem: 2MB, format jpg. Zdjęcie będzie przeskalowane automatycznie, jednakże minimalne wymagane rozmiary zdjęcia to 800px na 800px. <br>
						<br /><span style="color:red;">PAMIĘTAJCIE, ŻE DOKŁADNIE TO ZDJĘCIE BĘDZIE NA IDENTYFIKATORZE, TYLKO W DUŻO MNIEJSZYM FORMACIE. ZDJĘCIA PRZESKALOWANE, Z DOŁOŻONĄ OGROMNĄ RAMKĄ CZY INNYM I TAKIMI EFEKTAMI MOGĄ SKUTKOWAĆ WYKLUCZENIEM Z PROCESU REKRUTACJI. Mamy po prostu za dużo tych zdjęć żeby je ręcznie przerabiać i do każdego z Was pisać że zdjęcie jest kiepskie.</span><br><br>
					</strong></p>
					<label {if $error_fields.photo}class="error"{/if}>Zdjęcie:</label><input type="file" value="" name="fields[photo]" />
					{if $file_error}
						<p class="error"><strong>{$file_error }</strong></p>
					{/if}
					<input type="hidden" name="id" value="{$user->id}" />
					<input type="hidden" name="token" value="{$security_token}" />
					<p class="error"><strong>Zdjęcie możesz zmienić tylko do {$photo_deadline}.</strong></p>
					<input type="submit" name="submit" value="wyślij" />
				</form>
			</td>
		</tr>
	{else}
		<tr><td>&nbsp;</td>
			<td>Zdjęcie można było zmieniać tylko do  {$photo_deadline}.</td>
		</tr>
	{/if}
	<tr>
		<th>Imię:	</th>
		<td>{$user->name}</td>
	</tr>
	<tr>
		<th>Nazwisko:	</th>
		<td>{$user->surname}</td>
	</tr>	
	<tr>
		<th>Login:	</th>
		<td>{$user->login}</td>
	</tr>
	<tr>
		<th>E-mail:	</th>
		<td>{$user->email}</td>
	</tr>
	<tr>
		<th>Adres zameldowania:	</th>
		<td>
			<p>{$user->h_street} {$user->h_building} {if $user->h_loc}/{$user->h_loc}{/if}</p>
			<p>{$user->h_zip} {$user->h_city}</p></td>
	</tr>
	<tr>
		<th>Adres szkoły/uczelni/zakładu pracy:	</th>
		<td>
			<p>{$user->school_name}</p>
			<p>{$user->school_street} {$user->school_building} {if $user->school_loc}/{$user->school_loc}{/if}</p>
			<p>{$user->school_zip} {$user->school_city}</p>
		</td>
	</tr>
	<tr>
		<th>PESEL:	</th>
		<td>{$user->PESEL}</td>
	</tr>
	<tr>
		<th>Data urodzenia:	</th>
		<td>{$user->birth_date}</td>
	</tr>
	<tr>
		<th>Telefon:	</th>
		<td>{$user->phone}</td>
	</tr>
	<tr>
		<th>Telefon do rodziców:	</th>
		<td>{$user->p_phone}</td>
	</tr>
	<tr>
		<th>Rodzaj dokumentu tożsamości:	</th>
		<td>{$user->doc_type}</td>
	</tr>
	<tr>
		<th>Numer dokumentu:	</th>
		<td>{$user->doc_id}</td>
	</tr>
	<tr>
		<th>Data rejestracji w systemie:	</th>
		<td>{$user->r_date}</td>
	</tr>
</table>

	<div id="meeting">
	{if !$meeting}
	<a href="#" >Wybierz termin spotkania z nami:</a>
	{else}
	<p>Jesteś już umówiony na spotkanie z nami.</p>
	<p>Spotkanie odbędzie się w <br>
		<b>Gimnazjum nr 17	im. ks. Jana Twardowskiego</b><br />
		przy ulicy <b>ul. Ślężna 2/24</b>(koło dworca PKS)<br />
		mapka: <a href="http://www.gim17wroc.pl/kontakt.html">http://www.gim17wroc.pl/kontakt.html</a><br>
		w dniu: <b>{$meeting->date}</b><br />
		o godzinie: <b>{$meeting->time}</b><br />
		<strong>Oświadczenie rodzica / opiekuna osoby niepełnoletniej można pobrać pod adresem: <a href="http://sew.wosp.wroc.pl/zgoda.pdf">http://sew.wosp.wroc.pl/zgoda.pdf</a></strong>
	</p>

	{/if}
	</div>

{include file="layout/footer.html"}