{include file="layout/header.html"}

<h3>Witaj w Systemie Ewidencji Wolontariuszy Wrocławskiego Sztabu WOŚP</h3>
<p>Zarejestrowałeś się właśnie na spotkanie rejestracyjne z nami.</p>
<p>
Spotkanie odbędzie się w <b>Biurze Festiwalowym IMPART</b><br />
przy ulicy <b>ul. Mazowieckiej 17</b>(koło Urzędu Marszałkowskiego)<br />
mapka: <a href="http://tinyurl.com/omcrg5s">http://tinyurl.com/omcrg5s</a><br>
w dniu: <b>{$meeting->date}</b><br />
o godzinie: <b>{$meeting->time}</b><br />
</p>
<p>Na podany przez Ciebie podczas rejestracji adres email została wysłana informacja o terminie i miejscu spotkania. <br />
<strong>Jeśli nie widzisz wiadomości w swojej skrzynce odbiorczej, sprawdź różwnież folder SPAM.</strong> </p>

{include file="layout/footer.html"}
