{include file="layout/header.html"}
<p>Witaj w Systemie Ewidencji Wolontariuszy Wrocławskiego Sztabu WOŚP</p>
<p>System powstał głównie po to, by ułatwić nam pracę - w założeniu żaden z wolontariuszy którzy zarejestrują się w tym roku nie będzie musiał za rok
wypełniać całej ankiety, po prostu zaktualizuje niektóre swoje dane. My z kolei nie będziemy musieli przeszukiwać archiwów żeby sprawdzić czy ktoś z nami pracował czy nie, tylko wszystko będzie w jednym systemie.</p>
<p>Dane wprowadzane do systemu są w pełni bezpieczne, do systemu mają dostęp tylko człowkowie naszego Sztabu, ankiety dla Was drukujemy sami i sami też je zawozimy do Fundacji.</p>
<p>Jeśli masz poważny problem z zarejestrowaniem się (np. nie masz skrzynki e-mail lub system uparcie odrzuca Twoje dane) to zapraszamy na spotkanie bez rejestracji - na miejscu rozwiążemy problem.</p>
<p><strong>Terminy rejestracji są podane w systemie jak również są dostępne na stronie <a href="http://wosp.wroc.pl">www.wosp.wroc.pl</a></strong></p>
<h2>Takie plany mieliśmy rok temu...</h2>
<p>Plany jednak nie umarły i dalej są.. być może za rok uda się je wprowadzić w czyn. W tym roku jednak życie mnie trochę dogoniło i nie miałem czasu żeby system dokończyć. <strong>W związku z tym proszę wszystkich o ponowną rejestrację w systemie. Baza wolontariuszy została wyczyszczona, osoby ze sztabu proszone są o kontakt ze mną celem nadania uprawnień.</strong></p>

<p><strong>Wszystkie osoby zainteresowane kwestowaniem w tym roku powinny przeczytać i zaakceptować <a href="/regulamin2011.pdf">Regulamin Sztabu</a></strong></p>
	{include file="box/login.html"}
	{include file="box/register.html"}


{include file="layout/footer.html"}